<!-- array in simple form to post to a nested route -->
<%= simple_form_for [project, ticket], html: { multipart: true } do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <% number = 0 %>
  <!-- To use nested attributes in the view, use fields_for -->
  <!-- fields_for :assets tells name of nested fields -->
  <!-- now has name attribute of ticket[assets][asset] -->
  <!-- available in the controller as params[:ticket][:assets][:asset] -->
  <%= f.fields_for :assets do |asset| %>
    <p>
      <%= asset.label :asset, "File ##{number += 1}" %>
      <%= asset.file_field :asset %>
    </p>
  <% end %>
  <%= f.button :submit, class: "btn-primary" %>
<% end %>